@import "variables";

body {
  font-family: $Poppins;
  margin: 0;
  /* .overflow prevents content from overflowing on mobile, the body tag ignores such an argument */
  .overflow {
    overflow-x: hidden;
  }
}

button {
  font-family: $Poppins;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: none;
  border: 2px solid black;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
}
button:hover {
  background: rgb(240, 240, 240);
}

a {
  font-family: $Poppins;
  color: white;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid white;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

p {
  margin: 0;
}

.nav-bar {
  background: black;
  color: white;
  font-size: 0.85rem;
  padding: 10px;
  img {
    margin-left: 5px;
    margin-right: 5px;
  }
  a {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-footer {
  color: black;
  font-weight: 600;
}
.nav-footer:hover {
  border-bottom: 2px solid black;
}
