@import "variables";

body {
  font-family: $Poppins;
  margin: 0;
  /* .overflow prevents content from overflowing on mobile, the body tag ignores such an argument */
  .overflow {
    overflow-x: hidden;
  }
}

a {
  font-family: $Poppins;
  color: white;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid white;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

p {
  margin: 0;
}

.nav-bar {
  background: black;
  color: white;
  font-size: 0.85rem;
  padding: 10px;
  img {
    margin-left: 20px;
    margin-right: 20px;
  }
  a {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.nav-footer {
  color: black;
  font-weight: 600;
}
.nav-footer:hover {
  border-bottom: 2px solid black;
}
